h1{
    text-align: center;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
     grid-template-rows: repeat(3, 150px);
     gap: 10px;
     margin: 10px auto;
     width: 475px;
    height: 320px;
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #8a81db;
    cursor: pointer;
    border: 2px solid #333;
    width: 150px;
    height: 150px;
  }
  .cell.taken {
    cursor: not-allowed;
  }
  .message {
    text-align: center;
    font-size: 1.5rem;
  }

  h1{
    text-align: center;
}
.konteiners {
  position: relative;
}
.punkti, .punktiDisplay, .datums, .datumsDisplay, .speletajs, .speletajsDisplay {
  position: absolute;
  font-size: 30px;
}
.punkti{
  transform: translateX(50px);
  margin-top: 10px;
}
.punktiDisplay{
  transform: translateX(150px);
  margin-top: 10px;
}
.datums{
  transform: translateX(1500px);
  margin-top: 10px;
}
.datumsDisplay{
  transform: translateX(1720px);
  margin-top: 10px;
}
.speletajs{
  transform: translateX(1500Px);
  margin-top: 40px;
}
.speletajsDisplay{
  transform: translateX(1630px);
  margin-top: 40px;
}
#laiks{
    font-weight: bold;
}
footer{
    text-align: center;
    margin-top: 200px;
}

body{
    background-color: #a0f4fc;
}

.poga1{
  background-color: #7d7d7d;
  border: none;
  color: white;
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  transform: translateX(1600px) translateY(200px);
}

