body{
    background-color: #a0f4fc;
}
h1{
    text-align: center;
}
.zemteksts      { 
    display:block;
    margin-left:10px;
    
}
.zemteksts span {
     display:block;
     float:right;
     width:25%;
     margin-left:10px;
}
p{
    font-size: 20px;
    display:block;
    float:right;
    width:60%;
    margin-left:10px;
    margin-top: 4px;
}
h3{
    font-size: 20px;
    display:block;
    float:right;
    width:60%;
    margin-left:10px;
    margin-top: -23px;
}


.konteiners {
    position: relative;
}
.TicTacToe, .Higher {
    position: absolute;
    font-size: 40px;
}
.TicTacToe {
    transform: translateX(600px);
    margin-top: 70px;
}
.Higher {
    transform: translateX(1200px);
    margin-top: 70px;
}

.krustinuPoga{
    background-color: #7d7d7d;
    border: solid;
    border-width: 5px;
    border-color: rgb(41, 10, 84);
    color: white;
    padding: 200px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    transform: translateX(470px) translateY(150px);
    background-image: url('img/KrustiniUnNullites.png');
    background-size: 400px 400px;
    background-position:center;
}

.higherPoga{
    background-color: #7d7d7d;
    border: solid;
    border-width: 5px;
    border-color: rgb(41, 10, 84);
    color: white;
    padding: 200px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    transform: translateX(700px) translateY(150px);
    background-image: url('img/Higher.png');
    background-size: 400px 400px;
    background-position:center;
}
