h1{
    text-align: center;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 320px;
    height: 320px;
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 2px solid #333;
    width: 100px;
    height: 100px;
  }
  .cell.taken {
    cursor: not-allowed;
  }
  .message {
    text-align: center;
    font-size: 1.5rem;
  }

  h1{
    text-align: center;
}
.zemteksts      {
    display:block;
    margin:10px;
   
}
.zemteksts span {
     display:block;
     float:right;
     width:25%;
     margin-left:10px;
}
p{
    font-size: 20px;
    display:block;
    float:right;
    width:60%;
    margin-left:10px;
    margin-top: 4px;
}
#laiks{
    font-weight: bold;
}
footer{
    text-align: center;
    margin-top: 250px;
}

body{
    background-color: #a0f4fc;
}